- title 'Willkommen in der Homescouting-Bildergallerie!'

%article.text-center
  %p
    Lass uns zusammen dieses Fotoalbum füllen.
    %br
    Zeig uns deine Homescouting-Aktivitäten und schicke ein Foto davon an
    = mail_to 'homescouting@pfadiolten.ch', nil, encode: :javascript
    oder direkt an deinen Leiter.
    %br
    So können wir uns gegenseitig mit dem «Pfadivirus» anstecken und gegen die Langeweile ankämpfen!
  %p
    Bleib gesund und hoffentlich bis bald im Pfadiheim!
  %p.font-italic
    Mit Fröid Derbi -
    Euses Bescht -
    Allzeit Bereit -
    Zämme Wyter

- if @allow_upload
  .card
    .card-header.justify-content-between
      %span Bilder hinzufügen

      - if @has_session
        = link_to logout_homescouting_path, data: { method: 'delete' }, class: 'btn btn-danger' do
          Abmelden
          = icons.sign_out

    = simple_form_for Homescouting::File.new,
                      url: homescouting_path(upload: params[:upload]),
                      html: { multipart: true } do |f|

      .card-body.pb-0
        = f.input :file, as: 'filehandle',
                  label: false,
                  text: 'Bilder auswählen',
                  required: true,
                  input_html: { multiple: true, accept: 'image/jpeg, image/png, video/mp4' }
      .card-footer.p-0
        = f.submit 'Hochladen', class: 'btn btn-primary btn-block btn-success'

.row
  .col-12.d-flex.justify-content-center
    = paginate @files, theme: 'twitter-bootstrap-4'

:ruby
  images = @files.map(&:file).map do |file|
    x1024_metadata = ActiveStorage::Analyzer::ImageAnalyzer.new(file.blob).metadata
    {
      id: file.id.to_s,
      ratio: {
        width:  x1024_metadata[:width],
        height: x1024_metadata[:height],
      },
      src: {
        x128:  variant_path(file.variant(resize: '128x128')),
        x256:  variant_path(file.variant(resize: '256x256')),
        x512:  variant_path(file.variant(resize: '512x512')),
        x1024: url_for(file),
      },
    }
  end

= components.gallery images: images

.row.mt-4
  .col-12.d-flex.justify-content-center
    = paginate @files, theme: 'twitter-bootstrap-4'