- title scout_name: @member.scout_name
- subtitle_to @group, :abbreviation

.row.justify-content-center
  .col.col-md-6.col-lg-4
    = simple_form_for @member, url: group_member_path(@group, @member) do |f|
      .row
        .col-12
          = f.input :role_id, required: true,
                    collection: @group.roles,
                    label_method: ->(role) { role.name }

      .row
        - if policy(@member).destroy?
          .col-8
            = f.submit class: 'btn btn-primary col'
          .col-4
            = destroy_button
        - else
          .col-12
            = f.submit class: 'btn btn-primary col'