.row.justify-content-center
  .col.col-md-8
    = simple_form_for @article, html: { multipart: true } do |f|
      .row
        .col-12
          = f.input :title

      .row
        .col-12
          = f.input :summary, as: 'text'

      .row
        .col-12
          = f.input :image, as: 'filehandle',
                    input_html: { accept: 'image/*' }

      .row
        .col-12
          = f.input :text, required: false,
                    label: false,
                    input_html: { class: 'text-editor' }

      .row
        .col-12.col-sm-5.mt-6
          = f.input :is_pinned, as: :boolean
        .col-12.col-sm-7
          .js-toggleable.invisible{ data: { toggler: '#article_is_pinned', 'toggle-on': 'visible', 'toggle-off': 'invisible' } }
            = f.input :pinned_till, as: :date_time,
                      required: false,
                      input_html: { date_type: :date }

      .row
        - if @article.persisted? && policy(@article).destroy?
          .col-8
            = f.submit class: 'btn btn-primary col'
          .col-4
            = destroy_button
        - else
          .col-12
            = f.submit class: 'btn btn-primary col'