-# article: Article
-# expanded: Bool = false

- expanded ||= false

.card
  .card-header
    .card-title
      = article.title
    - can = policy(article)
    .card-options
      - if can.edit?
        %a.btn.btn-primary.ml-2{ href: edit_article_path(article) }
          %i.fe.fe-edit
      - if (path = article_path(article)) && !current_page?(path)
        %a.btn.btn-primary.ml-2{ href: path }
          %i.fe.fe-eye

      - if article.still_pinned?
        .btn.btn-dark.disabled.ml-2{ style: 'cursor: default;' }
          %i.fe.fe-sun
          - if article.pinned_till.present?
            %small.small.ml-1= l(article.pinned_till)


  - if article.image?
    %img.card-img-top{ src: image_path(article.image) }
  .card-body
    - if expanded
      %article
        = article.text.html_safe
    - else
      .js-expandable{ data: { limit: 100 } }
        .row
          .col-12
            %article.js-expandable__text
              = article.text.html_safe
        .row
          .col-12
            .js-expandable__toggle
              .row.justify-content-center
                .col-4
                  .js-expandable__toggle__show-more.mt-4
                    %button.btn.btn-black.col{ type: 'button' }
                      %i.fe.fe-chevron-down
                  .js-expandable__toggle__show-less.mt-4
                    %button.btn.btn-black.col{ type: 'button' }
                      %i.fe.fe-chevron-up
  .card-footer.p-0
    = render '/shared/created_by',
             creator:    article.author,
             created_at: article.created_at