-# article: Article
-# expanded: Bool = false
-# editable: Bool = false

- expanded ||= false
- editable ||= false

.card
  .card-header
    .card-title
      = article.title
    - can = policy(article)
    .card-options
      - if editable && can.edit?
        %a.btn.btn-secondary.ml-2{ href: edit_article_path(article) }
          %i.fe.fe-edit

      - if article.still_pinned?
        .btn.btn-dark.disabled.ml-2{ style: 'cursor: default;' }
          %i.fe.fe-sun
          - if article.pinned_till.present?
            %small.small.ml-1= l(article.pinned_till)


  - if article.image?
    %img.card-img-top{ src: image_path(article.image) }
  .card-body
    - if expanded
      %article
        = article.text.html_safe
    - else
      .js-expandable
        .row
          .col-12
            %article.js-expandable__text
              = article.text.html_safe
        .row
          .col-12
            .row.justify-content-center
              .col-4
                .js-expandable__show-more.mt-4
                  %button.btn.btn-black.btn-block{ type: 'button' }
                    %i.fe.fe-chevron-down
                .js-expandable__show-less.mt-4
                  %button.btn.btn-black.btn-block{ type: 'button' }
                    %i.fe.fe-chevron-up
  .card-footer.p-0
    .row
      - show_more = (path = article_path(article)) && !current_page?(path)
      .col{ class: ('pr-0' if show_more) }
        = render '/shared/created_by',
                 creator:    article.author,
                 created_at: article.created_at
      - if show_more
        .col-2.pl-0
          %a.btn.btn-white.d-flex.align-items-center.justify-content-center.h-100.w-100{ href: path }
            %i.fe.fe-more-horizontal