- title

.row
  .col-12
    - if (can = policy(@articles)) && can.create?
      .row.mb-4
        .col-12.d-flex.justify-content-center
          .btn-group
            - if can.create?
              = link_to new_article_path, class: 'btn btn-primary' do
                = icons.new

    .row
      .col-12.d-flex.justify-content-center
        = paginate @articles, theme: 'twitter-bootstrap-4'

    .row.justify-content-center
      .col-12.col-lg-10.col-xl-8
        .row.justify-content-center
          = list_any @articles, else_say: t('.no_articles') do |article|
            .col-12
              = render '/articles/present_full',
                       article: article