-# add_class: String = ''

- for_size ||= ''

.nav-icons{ class: "nav-icons-#{for_size}" }
  = mail_to Settings.social.mail, encode: :javascript, class: "nav-icon" do
    = fa_icon('envelope')
  = link_to fa_icon('facebook-official'), Settings.social.facebook, class: "nav-icon", target: '_blank'
  = link_to fa_icon('instagram'), Settings.social.instagram, class: "nav-icon", target: '_blank'