-# url: String|Nil

- url ||= nil

.row
  .col-md-8.col-md-offset-2
    = simple_form_for @group, url: url do |f|
      .row
        .col-sm-8.col-xs-12
          = f.input :name
        .col-sm-4.col-xs-12.gap-top-1-xs
          = f.input :abbreviation

      - unless @group.new_record?
        .row
          .col-xs-12
            = f.input :what, required: false, input_html: { class: 'text-editor' }

        .row
          .col-sm-6.col-xs-12
            = f.input :who, required: false
          .col-sm-6.col-xs-12
            = f.input :when, required: false

      .row
        - if @group.persisted? && policy(@group).destroy?
          .col-xs-8
            = f.submit class: 'btn btn-primary col-xs-12'
          .col-xs-4
            = destroy_button
        - else
          .col-xs-12
            = f.submit class: 'btn btn-primary col-xs-12'

