-# url: String|Nil

- url ||= nil

.row.justify-content-center
  .col-md-10.col-lg-8
    = simple_form_for @group, url: url do |f|
      .row
        .col-12.col-md-8
          = f.input :name
        .col-12.col-md-4
          = f.input :abbreviation

      - unless @group.new_record?
        .row
          .col
            = f.input :what, required: false, input_html: { class: 'text-editor' }

        .row
          .col-12.col-sm
            = f.input :who, required: false
          .col-12.col-sm
            = f.input :when, required: false

      .row
        - if @group.persisted? && policy(@group).destroy?
          .col-8
            = f.submit class: 'btn btn-primary col-12'
          .col-4
            = destroy_button
        - else
          .col-12
            = f.submit class: 'btn btn-primary col-12'

