- title

.row
  .col-xs-12.text-center
    - if policy(@groups).create?
      = link_to fa_icon('plus'), new_group_path, class: 'btn btn-primary'
    - if policy(@groups).update_order?
      = link_to fa_icon('sort'), groups_edit_order_path, class: 'btn btn-primary'

.row.gap-top-1
  .col-md-6.col-md-offset-3
    - if @groups.any?
      - @groups.each do |group|
        .row.gap-bottom-1
          .col-xs-12
            %a{ href: group_path(group) }
              .panel.panel-default.panel-link.text-center.no-margin-bottom
                .panel-heading
                  = group.name
                - if group.who.present?
                  .panel-body
                    = group.who
    - else
      .alert.alert-info.text-center= t('.no_users')