- title

.row
  .col-12
    :ruby
      can_create       = policy(@groups).create?
      can_update_order = @groups.count > 1 && policy(@groups).update_order?

    - if can_create || can_update_order
      .row.mb-4
        .col-12.d-flex.justify-content-center
          - if can_create
            = link_to url_for(action: :new), class: 'btn btn-primary' do
              = icons.new
          - if can_update_order
            = link_to url_for(action: :edit_order), class: 'btn btn-primary' do
              = icons.order

    .row.justify-content-center
      .col.col-md-10.col-lg-8.col-xl-6
        = list_any @groups, else_say: t('.no_groups') do |group|
          = render '/groups/present', group: group