- title

.row
  .col-12
    - if (policy = policy(@groups)) && (policy.create? || policy.update_order?)
      .row.mb-4
        .col-12.d-flex.justify-content-center
          - if policy.create?
            = link_to new_group_path, class: 'btn btn-primary' do
              = icons.new
          - if policy.update_order?
            = link_to groups_edit_order_path, class: 'btn btn-primary' do
              = icons.order

    .row.justify-content-center
      .col.col-md-10.col-lg-8.col-xl-6
        = list_any @groups, else_say: t('.no_groups') do |group|
          = render '/groups/present', group: group