- title @group.name
- subtitle @group.abbreviation

.row.justify-content-center
  - if policy(@group).update? || policy(@group.roles).index?
    .col-12
      .row.mb-4
        .col.d-flex.justify-content-center
          .btn-group
            - if policy(@group).update?
              = link_to edit_group_path, class: 'btn btn-primary' do
                = icons.edit
            - if policy(@group.roles).index?
              = link_to group_roles_path(@group), class: 'btn btn-primary' do
                = icons.permissions

  .col-12
    .row.justify-content-center

      // event row
      - if (events = @group.events.active).any?
        .col-12.col-lg-5.col-xl-4.order-2.order-lg-1
          = render '/events/list',
                   events:         events,
                   new_event_path: new_event_path(groups: @group.abbreviation)

      // info row
      .col-12.col-lg-7.col-xl-8.order-1.order-lg-2
        .row
          .col-12
            - if @group.what || @group.who || @group.when
              .row.mb-6
                .col-12
                  - if (what = @group.what)
                    .row
                      .col-12
                        = what.html_safe

                  - %i[ who when ].each do |attribute|
                    - if (value = @group.read_attribute(attribute))
                      .row.mt-6
                        .col-12
                          %h3= t("activerecord.attributes.group.#{attribute}")
                          .row
                            .col-12= value

            .row
              .col-12
                .card
                  .card-header
                    %h3.m-0= t('activerecord.models.user.other')
                    - if policy(@group.roles).create?
                      .card-options
                        %a.btn.btn-primary{ href: new_group_members_path(@group) }
                          = icons.new

                  - roles = @group.roles.with_members.sorted_by_rights
                  = list_any roles, else_say: t('activerecord.models.user.zero'), alert_options: { class: 'mt-4' } do |role|
                    .card-body.pb-0.pt-4
                      - if roles.count > 1
                        .row.mb-4
                          .col-12
                            .card-title= role.name
                      .row
                        .col-12
                          .row.justify-content-md-center.justify-content-lg-start.flex-nowrap.flex-md-wrap{ style: 'overflow-x: scroll;' }
                            - role.members.each do |member|
                              - user = member.user
                              .col-6.col-md-4.col-lg-3
                                = render '/users/present', user: user do
                                  - if policy(role).update?
                                    .d-flex.justify-content-end
                                      %a.btn.btn-primary{ href: edit_group_member_path(@group, member) }
                                        = icons.edit