- title @group.name
- subtitle @group.abbreviation

.row
  .col-xs-12.text-center
    .btn-group
      - if policy(@group).update?
        = link_to fa_icon('pencil'), edit_group_path, class: 'btn btn-primary'
      - if policy(@group.roles).index?
        = link_to fa_icon('star'), group_roles_path, class: 'btn btn-primary'

- if @group.what || @group.who || @group.when
  .row.text-center.gap-top-1.gap-bottom-1
    .col-md-8.col-md-offset-2
      - if what = @group.what
        .row
          .col-xs-12
            = what.html_safe

      - %i[ who when ].each do |attribute|
        - if value = @group.read_attribute(attribute)
          .row
            .col-xs-12
              %h3= t("activerecord.attributes.group.#{attribute}")
              .row
                .col-xs-12= value

- roles = @group.roles.sorted_by_rights
- roles_with_members = roles.count { |it| it.users.any? }
- can_create = policy(Group::Member).create?

- if can_create || roles_with_members > 0
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-xs-12.text-center
          %h2= t('activerecord.models.user.other')
      .row
        .col-xs-12
          - if roles_with_members > 0
            - show_role_names = roles.count { |it| it.users.any? } > 1
            - roles.each do |role|
              - next if role.users.count == 0
              - if show_role_names
                .row
                  .col-xs-12.text-center
                    %h3= role.name
              .row
                .col-xs-12
                  - path_to_new = new_group_members_path if policy(Group::Member).create?
                  = render 'users/list', users: role.users, none: nil, path_to_new: path_to_new do |user|
                    - if (current_member && policy(current_member).update?) || policy(Group::Member).update?
                      .row.gap-top-1
                        .col-xs-12
                          = link_to fa_icon('pencil'), edit_group_member_path(@group, @group.members.find { |it| it.user_id == user.id }), class: 'btn btn-primary'
          - else
            .row
              .col-xs-12
                - if policy(Group::Member).create?
                  .text-center= link_to fa_icon('plus'), new_group_members_path, class: 'btn btn-primary'
            .row.gap-top-1
              .col-xs-12
                .alert.alert-info.text-center= t('activerecord.models.user.zero')