-# url: String|Nil

- url ||= nil

.row.justify-content-center
  .col-sm-10.col-md-8
    = simple_form_for @user, url: url do |f|
      .row
        .col-12
          = f.input :scout_name

      .row
        .col-sm
          = f.input :first_name
        .col-sm
          = f.input :last_name

      - if @user.new_record?
        .row
          .col-sm
            = f.input :password,
                      required: true,
                      input_html: { autocomplete: 'off' }
          .col-sm
            = f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: 'off' }
      - else
        .row
          .col-12
            = f.input :description, label: false, as: :editor
      .row
        .col-12
          = f.input :avatar, as: 'filehandle', input_html: { accept: 'image/*' }

      .row
        - if @user.persisted? && policy(@user).destroy?
          .col-8
            = f.submit class: 'btn btn-primary col-12'
          .col-4
            = destroy_button
        - else
          .col-12
            = f.submit class: 'btn btn-primary col-12'