- self.tab_title = @user.scout_name
- self.image_src = image_path(@user.avatar.x256)

.row.justify-content-center
  .col-md-8
    .row
      - title = capture do
        = render 'layouts/components/title',
               title:    @user.scout_name,
               subtitle: @user.name

      .col-12.d-md-none
        .text-center= title

      .col-12.col-md-5
        %img.img-thumbnail{ src: image_path(@user.avatar.x512), width: '100%' }

      .col-12.col-md-7.mt-4.mt-md-0
        .d-none.d-md-block
          .row
            .col-12
              = title
        .row
          .col-12
            - policy = policy(@user)
            .btn-group.d-flex.justify-content-center.justify-content-md-start{ role: 'group' }
              = mail_to @user.email, encode: :javascript, class: 'btn btn-primary' do
                = icons.mail

              - if policy.edit?
                = link_to edit_user_path, class: 'btn btn-primary' do
                  = icons.edit

              - if policy.edit_password?
                = link_to edit_password_user_path, class: 'btn btn-primary' do
                  = icons.password

              - if policy.edit_admin?
                = link_to edit_admin_user_path, class: 'btn btn-primary' do
                  = icons.admin

        - if @user.groups.any?
          .row.mb-4.mt-2
            .col-12
              - @user.groups.each do |group|
                = link_to group.abbreviation, group_path(group), class: 'btn btn-info'
        .row.mt-4
          .col-12
            = @user.description&.html_safe