- title
- content_for :container_type, 'container-fluid'

.row
  .col-lg-10.col-lg-offset-1
    .row
      .col-md-3
        .row.category-title
          .col-xs-12
            %h2.no-margin-top.text-center-sm-down
              %span.gap-right-1-sm-down= t('activerecord.models.event.other')
              - if policy(@events).create?
                %span.pull-right-md-up
                  = link_to fa_icon('plus'), new_event_path, class: 'btn btn-primary'

        .row
          .col-xs-12
            - if @events.any?
              - @events.each do |event|
                .row
                  = col(md: 12, sm: 6) do
                    = render 'events/event', event: event
            - else
              = info t('events.index.no_events')

      .col-md-6.pad-left-3-md-up.pad-right-3-md-up
        .row.category-title
          .col-xs-12.text-center
            %h2.no-margin-top= t('.news')

        .row.gap-top-1
          .col-xs-12
            - if @news.any?
              - @news.each do |article|
                .row.gap-bottom-1
                  .col-xs-12
                    = render 'articles/article', article: article
            - else
              = info t('articles.index.no_articles')

      .col-md-3
        .row.category-title
          .col-xs-12.text-right
            %h2.no-margin-top.text-center-sm-down
              %span.gap-right-1-sm-down= t('activerecord.models.article.other')
              - if policy(@articles).create?
                %span.pull-left-md-up
                  = link_to fa_icon('plus'), new_article_path, class: 'btn btn-primary'

        .row
          .col-xs-12
            - if @articles.any?
              - @articles.each do |article|
                .text-center.gap-bottom-1
                  .panel.panel-default.panel-link.no-margin{ data: { link: article_path(article) } }
                    .panel-body= article.title
            - else
              = info t('articles.index.no_articles')
