- self.tab_title = t('.title')
- content_for :container_type, 'container-fluid'

.row.justify-content-center
  .col-12.col-md-10
    .row
      // events
      .category.col-12.col-lg-4.col-xl-3
        .row
          .col-12
            .row
              .col-12.category__header
                %h2.category__title
                  = t('activerecord.models.event.other')
                .category__options
                  - if policy(@home.events).create?
                    %a.btn.btn-primary{ href: new_event_path }
                      %i.fe.fe-plus

        .row.row-cards.row-deck.flex-nowrap.flex-md-wrap{ style: 'overflow-x: scroll;' }
          = list_any @home.events, else_say: t('events.index.no_events') do |event|
            .col-11.col-sm-7.col-lg-12
              = render '/events/present',
                       event: event

      .col
        // news
        .row.mb-6
          .col-12
            #newsCarousel.carousel.carousel--news.slide{ data: { ride: 'carousel' } }
              %ol.carousel-indicators
                %li.active{ data: { target: '#newsCarousel', slide_to: 0 } }
                - @home.news.each_with_index do |_news, i|
                  %li{ data: { target: '#newsCarousel', slide_to: i + 1 } }

              .carousel-inner
                .carousel-item.active
                  %img.d-block{ src: image_path('welcome'), alt: 'welcome' }
                  .carousel-caption
                    %h1.mb-0= t('.welcome')

                - @home.news.each do |news|
                  .carousel-item
                    - if news.image?
                      %img.d-block{ src: image_path(news.image), alt: "Image for #{news.title}" }
                    .carousel-caption
                      %h2= news.title
                      %p.carousel-text= news.text.html_safe
                      %p.text-right.mb-0
                        %a.btn.btn-secondary{ href: article_path(news) }
                          %i.fe.fe-more-horizontal

        .row
          // non-news articles
          .category.col
            .row
              .col
                .category__header
                  %h2.category__title
                    = t('.info_title')
                  .category__options
                    - if policy(@home.articles).create?
                      %a.btn.btn-primary{ href: new_article_path }
                        %i.fe.fe-plus
                        = t('activerecord.models.article.one')
                    - if policy(@home.albums).create?
                      %a.btn.btn-primary{ href: new_album_path }
                        %i.fe.fe-plus
                        = t('activerecord.models.album.one')
            .row
              .col
                = list_any @home.articles_and_albums, else_say: t('.no_infos') do |a|
                  - if a.is_a?(Article)
                    = render '/articles/present',
                             article: a
                  - else
                    = render '/albums/present',
                           album: a

          // instagram feed
          .category.col-12.col-xl-4
            .row
              .col
                .category__header
                  %h2.category__title
                    = t('.instagram')
            .row
              .col
                .row.justify-content-center
                  - @home.recent_instagram_posts.each do |post|
                    .col-12.d-flex.justify-content-center
                      .js-instagram-post{ data: { instagram: { link: post.link } } }
                        .card
                          .card-body.text-center
                            %i.fe.fe-loader.animate.animate--spin