- title
- content_for(:container_class, 'container-fluid')

.row
  .col-md-8.col-md-offset-2
    .row
      .col-md-3
        .row.category-title
          .col-xs-8.text-left
            %h2.no-margin-top= t('activerecord.models.event.other')
          .col-xs-4.text-right
            - if policy(@events).create?
              = link_to fa_icon('plus'), new_event_path, class: 'btn btn-primary'

        .row
          .col-xs-12
            - if @events.any?
              - @events.each do |event|
                .row
                  .col-xs-12
                    = render 'events/event', event: event
            - else
              = info t('events.index.no_events')

      .col-md-6.pad-left-3-md-up.pad-right-3-md-up
        .row.category-title
          .col-xs-12.text-center-md-up
            %h2.no-margin-top= t('.news')

        .row.gap-top-1
          .col-xs-12
            - if @news.any?
              - @news.each do |article|
                .row.gap-bottom-1
                  .col-xs-12
                    = render 'articles/article', article: article
            - else
              = info t('articles.index.no_articles')

      .col-md-3
        .row.category-title
          .col-xs-8.text-left
            %h2.no-margin-top= t('activerecord.models.article.other')
          .col-xs-4.text-right
            - if policy(@articles).create?
              = link_to fa_icon('plus'), new_article_path, class: 'btn btn-primary'

        .row
          .col-xs-12
            - if @articles.any?
              - @articles.each do |article|
                .text-center.gap-bottom-1
                  .panel.panel-default.panel-link.no-margin{ data: { link: article_path(article) } }
                    .panel-body= article.title
            - else
              = info t('articles.index.no_articles')
