.row.justify-content-center
  .col-md-8
    = simple_form_for @event do |f|
      .row
        .col-12
          = f.input :title

      .row
        .col-md-4
          = f.input :kind,
                    as:          :select_component,
                    collection:   Event.kinds,
                    label_method: proc { |kind, _| t("activerecord.models.event.kinds.#{kind}") },
                    value_method: :first
        .col-md-8
          = f.input :group_ids,
                    as:           :select_component,
                    selected:     @event.groups.map(&:id),
                    collection:   policy_scope(Group),
                    label_method: :abbreviation,
                    input_html:   { multiple: true }
      .row
        .col-12.col-md-4
          = f.input :starts_at, as: :date_time_component
        .col-12.col-md-8
          = f.input :start_location, as: :string

      .row
        .col-12.col-md-4
          = f.input :ends_at, as: :date_time_component
        .col-12.col-md-8
          = f.input :end_location,
                    as: :string,
                    input_html: { class: 'js-mirror',
                                  data: { 'mirror-of': '#event_start_location' } }
      .row
        .col-12
          = f.input :description, required: false, as: :editor
      .row
        .col-12
          = f.input :user_in_charge_id, required: true,
                    as: :select_component,
                    collection: [[Settings.social.mail, nil]] + policy_scope(User).map { |it| [it.all_names, it.id] }

      .row
        .col
          = submit_buttons_for f