- title

.row.justify-content-center
  .col-12.col-md-8.col-lg-6.col-xl-5
    .row
      - Event.detail_types.each do |detail, _|
        %div{ class: "col-#{12 / Event.detail_types.count}" }
          .card.text-center.hoverable{ data: { link: url_for(action: "new_#{detail}") } }
            .card-status.card-status-left.bg-primary.hover
            .card-body{ style: 'font-size: 2em;' }
              %i.fe{ class: "fe-#{icons[detail]}" }
            .card-header.justify-content-center
              .card-title= t("activerecord.models.event.#{detail}.one")


