- title
- subtitle_to @group, :abbreviation

- if policy(@roles).create?
  .row.justify-content-center.mb-4
    .col.d-flex.justify-content-center
      .btn-group
        = link_to new_group_role_path, class: 'btn btn-primary' do
          = icons.new

.row.justify-content-center
  .col.col-sm-11.col-md-10.col-lg-7.col-xl-6
    = list_any @roles.sorted_by_rights, else_say: t('.no_roles') do |role|
      .card.hoverable.js-link.mb-2{ data: { url: group_role_path(@group, role) } }
        .card-status.card-status-left.bg-primary.hoverable__element
        .card-header.justify-content-center
          .card-title= role.name
        .card-body
          = render '/groups/roles/present_rights', role: role