- title @role.name
- subtitle do
  = link_to @group.abbreviation, group_path(@group)
  = ' / '.html_safe
  = link_to t('groups.roles.index.title'), group_roles_path

- if policy(@role).edit?
  .row.mb-4
    .col-12.d-flex.justify-content-center
      .btn-group
        = link_to edit_group_role_path, class: 'btn btn-primary' do
          = icons.edit

.row.justify-content-center
  .col-12.col-md-8.col-lg-7.col-xl-6
    = render '/groups/roles/present_rights', role: @role