.row.justify-content-center
  .col-md-8
    = simple_form_for @album, multiple: true do |f|
      .row
        .col-12
          = f.input :name

      .row
        .col-12
          = f.input :description, required: false, as: :editor

      .row
        .col-12
          = f.input :images, as: 'filehandle', input_html: { multiple: true, accept: 'image/*' }

      .row
        - if @album.persisted? && policy(@album).destroy?
          .col-8
            = f.submit class: 'btn btn-primary btn-block'
          .col-4
            = destroy_button
        - else
          .col-12
            = f.submit class: 'btn btn-primary btn-block'

      = yield f if block_given?