:ruby
  album = local_assigns.fetch(:album)

.card.card--album.card--hoverable.link-parent{ data: { url: album_path(album) } }
  .card-header
    .card-title
      = album.name

    .card-options
      .tag
        = album.images.count
        %span.tag-addon
          = icons.images

  %ul.list-group.list-group-flush
  - if (description = album.description)
    .list-group-item.link-parent__ignore
      = description.html_safe

    .list-group-item
      = render 'albums/gallery',
                album: album,
                limit: 6,
                disable_lightbox: true

  .card-footer
    = render '/shared/created_by',
             created_at: album.created_at