-# album: Album

.card.mb-2
  .card-header
    .card-title
      = album.name
    .card-options
      .tag
        = album.images.count
        %span.tag-addon
          %i.fe.fe-camera
  .card-body.text-center
    = album.description&.html_safe
  .card-body
    .row.justify-content-center
      - album.images.first(3).each_with_index do |image, i|
        .col-3
          %img.img-thumbnail{ src: image_path(image.file.thumbnail), alt: "Image #{i}" }
      .col-3
        %a.btn.btn-secondary.btn-block.d-flex.align-items-center.justify-content-center{ href: album_path(album), style: 'height: 100%' }
          = render '/shared/more'
  .card-footer.p-0
    = render '/shared/created_by',
             created_at: album.created_at