- title @album.name
- content_for :container_type, 'container-fluid'

.row.justify-content-center
  .col
    .row
      .col-12.d-flex.justify-content-center.mb-4
        .btn-group
          - if policy(@album).download?
            = link_to download_album_path, class: 'btn btn-primary' do
              = icons.download

          - if policy(@album).update?
            = link_to edit_album_path, class: 'btn btn-primary' do
              = icons.edit

    - if (description = @album.description)
      .row.justify-content-center
        .col-12.col-sm-11.col-md-8.col-lg-7.col-xl-6
          .text-center= description.html_safe

    .row.mt-4
      .col-12
        .row.justify-content-center
          .col-12.col-lg-11.col-xl-10
            = render 'gallery', album: @album

