- title

.row.justify-content-center
  .col-12.col-sm-11.col-md-10.col-lg-6
    .row
      .col-12
        .alert.alert-info.alert-icon.alert-dismissible{ role: alert }
          %button.close{ type: 'button', data: { dismiss: 'alert' } }
          %div
            Unsere Homepage ist jetzt mit
            %a{ href: 'https://cloud.pfadiolten.ch', rel: 'nofollow', target: '_blank' } cloud.pfadiolten.ch
            synchronisiert.
            Deine Anmeldedaten entsprechen der Cloud.

    - if (alert = flash[:alert])
      .row
        .col-12
          .alert.alert-danger.alert-icon.alert-dismissible{ role: 'alert' }
            %span.mr-2{ aria: { hidden: true } }
              = icons.alert
            %button.close{ type: 'button', data: { dismiss: 'alert' } }
            = alert


    = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .row
        .col-12
          = f.input :scout_name,
                    input_html: { autofocus: true }

      .row
        .col-12
          = f.input :password,
                    autocomplete: 'off'

      .row
        .col-12.text-center
          = f.input :remember_me, as: :checkbox_component,
                    input_html: { checked: true }

      .row
        .col-12
          = f.submit class: 'btn btn-primary col-12'
