- title

.row
  = col(lg: 6, sm: 8) do
    = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .row
        .col-xs-12
          = f.input :scout_name, input_html: { autofocus: true }

      .row
        .col-xs-12
          = f.input :password,
                    autocomplete: 'off'

      .row
        .col-md-12.text-center
          = f.input :remember_me, as: 'boolean', input_html: { checked: true }

      .row
        .col-xs-12
          = f.submit class: 'btn btn-primary col-xs-12'

      .row.gap-top-1
        .col-xs-12.text-right
          .dropdown
            %button.btn.btn-warning.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
              = t('users.forgot_password.title')
              %span.caret
            %ul.dropdown-menu
              %li
                %a= t('users.password_note').html_safe