- title

.row.justify-content-center
  .col-12.col-sm-11.col-md-10.col-lg-6
    - if (alert = flash[:alert])
      .row
        .col-12
          .alert.alert-danger.alert-icon.alert-dismissible{ role: 'alert' }
            %span.mr-2{ aria: { hidden: true } }
              = icons.alert
            %button.close{ type: 'button', data: { dismiss: 'alert' } }
            = alert


    = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .row
        .col-12
          = f.input :scout_name,
                    input_html: { autofocus: true }

      .row
        .col-12
          = f.input :password,
                    autocomplete: 'off'

      .row
        .col-12.text-center
          = f.input :remember_me, as: :checkbox_component,
                    input_html: { checked: true }

      .row
        .col-12
          = f.submit class: 'btn btn-primary col-12'

      .row.mt-2
        .col-12.text-right
          .btn-group
            %button.btn.btn-warning.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } }
              = t('users.forgot_password.title')
            .dropdown-menu.dropdown-menu-right
              - link = capture do
                %a{ href: 'https://cloud.pfadiolten.ch/login', target: '_blank' } cloud.pfadiolten.ch
              %button.dropdown-item{ type: 'button', disabled: true }
                %span{ style: 'pointer-old_events: all;' }
                  = t('users.password_note', link: link).html_safe
