
- url ||= roles_path(@group)

.row
  .col-md-8.col-md-offset-2
    = simple_form_for @role, url: url do |f|
      .row
        .col-xs-12
          = f.input :name

      .row.text-center
        .col-md-4.col-xs-12
          = f.input :can_edit_group, as: :boolean, required: false
        .col-md-4.col-xs-12
          = f.input :can_edit_members, as: :boolean, required: false
        .col-md-4.col-xs-12
          = f.input :can_edit_roles, as: :boolean, required: false

      .row
        - if @role.persisted? && policy(@role).destroy?
          .col-xs-8
            = f.submit class: 'btn btn-primary col-xs-12'
          .col-xs-4
            = destroy_button
        - else
          .col-xs-12
            = f.submit class: 'btn btn-primary col-xs-12'
