- title
- subtitle_to @group, :abbreviation

- if policy(@roles).create?
  .row.gap-bottom-1
    .col-xs-12.text-center
      .btn-group
        = link_to fa_icon('plus'), new_role_path, class: 'btn btn-primary'

.row
  .col-md-8.col-md-offset-2
    - if @roles.any?
      - @roles.sorted_by_rights.each do |role|
        %a{ href: role_path(@group, role) }
          .panel.panel-default.panel-link
            .panel-heading.text-center
              = role.name
            .panel-body
              .row.text-center
                - %i[ can_edit_group can_edit_members can_edit_roles ].each do |attribute|
                  - value = role.read_attribute(attribute)
                  .col-xs-4
                    .row
                      .col-xs-12
                        %span{ class: "color-#{value ? 'success' : 'failure'}" }= t("activerecord.attributes.role.#{attribute}")
                    .row
                      .col-xs-12
                        = iconize(value)
    - else
      .alert.alert-info.text-center= t('.no_roles')