- title

.row.justify-content-center
  .col-12.col-xl-10
    .row.mb-4
      .col-12
        .row
          .col-12.text-center
            %h2= t('.people')

        .row
          .col-12.d-sm-flex.justify-content-sm-center
            - Settings.contacts.people.each do |person|
              .row.text-center.mx-4.mb-4
                .col-12.col-sm
                  .row
                    .col-12
                      %strong= person.title
                  .row
                    .col-12
                      = person.name
                  .row
                    .col-12
                      = person.phone
                  .row
                    .col-12
                      = mail_to person.mail, nil, encode: :javascript
        .row.text-center.mt-2
          .col
            .row
              .col-12
                %strong= t('.mail')
            .row
              .col-12
                = mail_to Settings.social.mail, nil, encode: :javascript

    .row.mb-6
      .col-12
        .row
          .col-12
            .row
              .col-12.text-center
                %h2= t('.locations')

            .row
              - Settings.locations.maps.each_with_index do |location, i|
                .col-12.col-md.mb-4
                  .row.mb-2
                    .col-12.text-center
                      - address = location.address
                      .row
                        .col-12
                          %strong= address.name
                      .row
                        .col-12
                          = address.street
                      .row
                        .col-12
                          = "#{address.zip_code} #{address.city}"

                  .row.leaflet-maps
                    .col-12
                      - coordinates = location.coordinates
                      = map container_id: "location-map-#{i}",
                            center: { latlng: [ coordinates.x, coordinates.y ],
                                      zoom: 16 },
                            markers: [ { latlng: [ coordinates.x, coordinates.y ] } ]


        .row.mt-2
          .col-12.text-center
            .row
              .col-12
                %h3= t('.infos.renting')
            .row
              .col-12
                = Settings.locations.infos.renting

    .row.mb-6
      .col-12
        .row
          .col-12
            %h2.text-center= t('.banking')

        .row
          .col-12.text-center
            - banking = Settings.contacts.banking
            .row
              .col-12
                = banking.address
            .row
              .col-12
                = banking.iban
            .row
              .col-12
                = banking.receiver
