
%meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
%meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
= csrf_meta_tags
= display_meta_tags site:        'Pfadi Olten',
                    separator:   '⚜️',
                    title:       tab_title,
                    reverse:     true,
                    description: t('meta.description', default: ''),
                    image_src:   image_src,
                    author:      "Daniel von Atzigen",
                    og: { image:       image_src,
                          site_name:   'Pfadi Olten',
                          type:        'object',
                          title:       content_for(:title),
                          url:         request.original_url,
                          description: t('meta.description', default: '') }

- [ 180, 96, 64, 48, 32, 16 ].each do |res|
  - size = "#{res}x#{res}"
  = favicon_link_tag "icons/ico/#{size}.ico", sizes: size

- [ 57, 72, 114, 144 ].each do |res|
  - size = "#{res}x#{res}"
  = favicon_link_tag "icons/png/#{size}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: size

%link{ rel: 'manifest', href: '/manifest.json' }


= stylesheet_pack_tag 'application'

= stylesheet_link_tag    'application', media: 'all'
= stylesheet_link_tag controller_asset if controller_css?

= javascript_include_tag 'application-eager_load'