%nav.navbar.navbar-default.navbar-main.navbar-fixed-top{ role: 'navigation' }
  - if Rails.env == 'development'
    %div{ style: 'position: fixed; top: 1rem; right: 1rem; z-index: 100; color: #fff;' }
      .hidden-sm-up xs
      .hidden-xs.hidden-md-up sm
      .hidden-sm-down.hidden-lg-up md
      .hidden-md-down lg

  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ data: { target: '#main-navbar', toggle: 'collapse', type: 'button' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = render 'layouts/components/navigation/social', for_size: 'small'
      %a.navbar-brand.brand-logo{ href: root_path }
        %img.nav-big{ src: image_path('logos/pfadi_olten-text.svg') }
        %img.nav-small{ src: image_path('logos/pfadi_olten-textless.svg') }

    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - nav_entries.each do |(controller, view)|
          - path_controller = "/#{controller}"
          - is_page = if view.nil? then current_page?(controller: path_controller) else current_page?(controller: path_controller, view: view) end
          %li{ class: ('active' if is_page) }
            - view ||= 'index'
            %a{ href: url_for(controller: path_controller, action: view) }
              = t("#{controller}.nav", default: t("activerecord.models.#{controller.to_s.singularize}.other"))

      %ul.nav.navbar-nav.navbar-right
        %li
          = render 'layouts/components/navigation/social', for_size: 'big'

        - unless user_signed_in?
          %li.account{ class: ('active' if current_page?(controller: 'sessions', action: 'new')) }
            %a{ href: new_user_session_path }
              .account-symbol= fa_icon('sign-in')
              .account-name= t('devise.sessions.new.title')
        - else
          %li.account
            %a{ href: destroy_user_session_path, data: { method: 'delete' } }
              .account-symbol= current_user.scout_name
              .account-name= fa_icon('sign-out')