%nav.navbar.navbar-default.navbar-main.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ data: { target: '#main-navbar', toggle: 'collapse', type: 'button' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = render 'layouts/components/navigation/social', for_size: 'small'
      %a.navbar-brand.brand-logo{ href: root_path }
        %img{ src: image_path('logos/pfadi_olten-text.svg') }

    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - nav_entries.each do |(controller, view)|
          - is_page = if view.nil? then current_page?(controller: controller) else current_page?(controller: controller, view: view) end
          %li{ class: ('active' if is_page) }
            - view ||= 'index'
            %a{ href: url_for(controller: controller, action: view) }
              = t("#{controller}.nav", default: t("activerecord.models.#{controller.to_s.singularize}.other"))

      %ul.nav.navbar-nav.navbar-right
        %li.gap-right-2
          = render 'layouts/components/navigation/social', for_size: 'big'

        - unless user_signed_in?
          %li{ class: ('active' if current_page?(controller: 'sessions', action: 'new')) }
            %a{ href: new_user_session_path }
              = fa_icon('sign-in')
              &nbsp;
              = t('devise.sessions.new.title')
        - else
          %li
            %a{ href: destroy_user_session_path, data: { method: 'delete' } }
              = current_user.scout_name
              &nbsp;
              = fa_icon('sign-out')