%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.navbar-main
  .container
    %a.navbar-brand.navbar-main__brand{ href: root_path }
      -#.d-none.d-sm-inline-block.align-top
      -#.d-sm-none.d-inline-block.align-top

      %img.navbar-main__logo.navbar-main__logo--large{ src: image_path('logos/pfadi_olten-text.svg'), alt: 'Pfadi Olten Logo' }
      %img.navbar-main__logo.navbar-main__logo--small{ src: image_path('logos/pfadi_olten-textless.svg'), alt: 'Pfadi Olten Logo'}
    %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse',
                                                    target: '#navbarMainCollapse' },
                                            aria: { controls: '#navbarMainCollapse',
                                                    expands: false,
                                                    label: 'Toggle navigation' } }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarMainCollapse
      .navbar-nav
        - Application::Navigation::ItemPresenter.all_for(self).each do |nav_item|
          %a.nav-item.nav-link.navbar-main--clickable{ class: ('active' if nav_item.active?), href: nav_item.path }
            = nav_item.title

    .navbar-main__social
      - shared_classes = 'navbar-main__social__icon navbar-main--clickable'
      = mail_to Settings.social.mail, encode: :javascript, class: shared_classes do
        = fa_icon('envelope')
      = link_to fa_icon('facebook-official'), Settings.social.facebook,  target: '_blank', class: shared_classes
      = link_to fa_icon('instagram'),         Settings.social.instagram, target: '_blank', class: shared_classes

