- title

:ruby
  can_create = policy(@orgs).create?

- if can_create
  .row.mb-4
    .col-12.d-flex.justify-content-center
      - if can_create
        = link_to new_organization_path, class: 'btn btn-primary' do
          = icons.new

.row
  .col-12
    = list_any @orgs, else_say: t('.no_orgs') do |org|
      = link_to org do
        = org.name