- title

:ruby
  can_create       = policy(@orgs).create?
  can_update_order = @orgs.count > 1 && policy(@orgs.first.rank).update?

- if can_create || can_update_order
  .row.mb-4
    .col-12.d-flex.justify-content-center
      - if can_create
        = link_to new_organization_path, class: 'btn btn-primary' do
          = icons.new
      - if can_update_order
        = link_to edit_organizations_ranks_path, class: 'btn btn-primary' do
          = icons.order

.row.justify-content-center
  .col-auto
    - model_string = if @orgs.count == 1 then 'one' else 'other' end
    %p= t('.description', count: @orgs.count, model: t("activerecord.models.organization.#{model_string}"))

.row.justify-content-center
  .col-12.col-lg-10.col-xl-8
    = list_any @orgs, else_say: t('.no_orgs') do |org|
      .card.card--hoverable.mb-2.js-link{ data: { url: organization_path(org) } }
        .card-header
          .card-title
            = org.name
        .card-body
          = org.introduction