- title

:ruby
  can_create = policy(@orgs).create?

- if can_create
  .row.mb-4
    .col-12.d-flex.justify-content-center
      - if can_create
        = link_to new_organization_path, class: 'btn btn-primary' do
          = icons.new

.row.justify-content-center
  .col-12.col-lg-10.col-xl-8
    = list_any @orgs, else_say: t('.no_orgs') do |org|
      .card.card--hoverable.mb-2.js-link{ data: { url: organization_path(org) } }
        .card-header
          .card-title
            = org.name
        .card-body
          = org.introduction