- action = if @old_event.new_record? then :create else :update end

.row.justify-content-center
  .col-12.col-md-8
    = simple_form_for @old_event, url: url_for(action: "#{action}_#{@old_event.detail.handle}") do |f|
      .row
        .col-12
          = f.input :name

      = f.simple_fields_for :old_event_groups, OldEventGroup.new do |fe|
        .row
          .col-12
            = fe.input :group_id,
                       as:           :select_component,
                       selected:     @old_event.old_event_groups.map(&:group_id),
                       collection:   policy_scope(Group),
                       label_method: :abbreviation,
                       input_html:    { multiple: true, name: 'old_old_event[old_event_groups_attributes][][group_id]' }
      .row
        .col-12.col-md-4
          = f.input :starts_at, as: :date_time_component
        .col-12.col-md-8
          = f.input :start_location, as: :string

      .row
        .col-12.col-md-4
          = f.input :ends_at, as: :date_time_component
        .col-12.col-md-8
          = f.input :end_location,
                    as: :string,
                    input_html: { class: 'js-mirror',
                                  data: { 'mirror-of': '#old_event_start_location' } }

      .row
        .col-12
          = f.input :description, required: false, input_html: { class: 'text-editor' }
      .row
        .col-md-4
          = f.input :display_days_amount, required: false,
                    hint: t('activerecord.attributes.old_event.display_days_amount_hint'),
                    input_html: { min: 0 }
        .col-12.col-md-8
          = f.input :user_in_charge_id, required: true,
                    collection: [[Settings.social.mail, nil]] + policy_scope(User).map { |it| [it.all_names, it.id] }

      = yield f

      .row
        - if false
          .col-6.text-center
            = f.input :is_hidden, as: :checkbox_component, required: false
        .col-12.text-center
          = f.input :is_private, as: :checkbox_component, required: false

      .row
        .col
          = f.submit class: 'btn btn-primary btn-block'
        - if @old_event.persisted? && policy(@old_event).destroy?
          .col-4
            = destroy_button