!!! 5
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    %title
      Pfadi Olten
      - if title = content_for(:title)
        = "- #{title}"
    = csrf_meta_tags

    - [ 180, 96, 64, 48, 32, 16 ].each do |res|
      = favicon_link_tag "favicons/#{res}x#{res}.ico"

    = tinymce_assets

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag controller_name

  %body{ class: "view-#{controller_name}" }
    = render 'layouts/components/navigation'
    .main-container{ class: content_for(:container_type) || 'container' }
      .text-center
        = render 'layouts/components/title',
                  title:    content_for(:title),
                  subtitle: content_for(:subtitle)
      = yield
    = render 'layouts/components/footer'
