!!! 5
%html{ lang: locale }
  %head= render '/layouts/components/head'
  %body{ class: "#{controller_name} #{controller_name}--#{action_name}" }
    %header
      = render 'layouts/components/navigation'
    %main
      .container--main{ class: content_for(:container_type) || 'container' }
        %section.section--title
          .text-center
            = render 'layouts/components/title',
                     title:    content_for(:title),
                     subtitle: content_for(:subtitle)
        %section.section--content
          = yield
    = render 'layouts/components/footer'
    = render 'layouts/components/assets'